
header{ 
    padding: 100px;
    text-align: center;
    background-image: url("/Users/annahickey/AnnaHickeyHome/images/Dusk_Reflections_of_Minneapolis_bgnbvz.jpg");
    background-size: cover;
    background-position: 100%;
}

h1 {
    font-size: 100px;
    clear: both;
    margin: 20px 0 0 0;
    font-family: 'Monoton', cursive;
    color: goldenrod;
   
}

ul {
    float: center;
}

li {
    display: inline;
    padding: 20px;
    position: relative;
    top: 20px;
    font-size: 30px;
    font-family: 'Monoton', cursive;
    color: goldenrod;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:visited {
    color: goldenrod;
}

 main {
    background-color: plum;
 }